//global styles
body {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: top center;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:wght@400;700&display=swap');
