.header {
  &__row {
    @include flex-grid-row();
  }

  &__logo {
    @include flex-grid-column(3);
  }

  &__nav {
    @include flex-grid-column(9);
  }

  max-height: 1531px;
  z-index: 15;

  .home {
    background: linear-gradient(-4deg, transparent 71%, #f2f2f3 71%);

    .background-image {
      max-width: 1440px;
      background-size: 100%;
      background-position: top center;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: auto;
      height: 100%;
      width: 100%;
      clip-path: polygon(0 0, 100% 0, 100% 550px, 0 650px);
    }
  }

  .header__row {
    max-width: 100%;
    margin: 0 auto;
    padding-top: 15px;
    padding-left: 11.8%;
    padding-right: 11.7%;
    display: flex;
    justify-content: space-between;

    a {
      color: #fff;
    }

    nav.header__nav {
      max-width: 100%;
      flex: auto;

      ul.nav-primary__menu {
        justify-content: flex-end;

        li.menu-item a {
          color: #fff;
          font-family: Roboto, serif;
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 19px;
          text-transform: uppercase;
          padding: 4px 15px;
          letter-spacing: -0.3px;
        }
      }
    }
  }
}

.menu-image.menu-image-title-after {
  padding: 0 !important;
}
