#headerwrap {
  position: relative;
  top: -70px;
  width: 100%;
  min-height: 600px;
  background-position: top center;
  z-index: 10;

  h1 {
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 68px;
    letter-spacing: -0.01em;
    line-height: 70px;
    color: #fff;
    padding: 106.75px 0;

    span {
      color: #17c37b;
    }
  }

  p {
    color: #fff;
    padding: 133.9px 0;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    letter-spacing: -0.01em;
  }
}
